In [50]:
import pandas as pd
import numpy as np

array100 = []
array66 = []

df = pd.read_csv('a1027749.csv',index_col='_unit_id')

def agreement(x):
    lista = x['id_rel'].split(' ')
    
    if lista[0] == lista[1]:
        if lista [0] == lista[2]:
            return 100
        return 66
    
    if lista[1] == lista[2] or lista[0] == lista[2]:
        return 66
    return 33
    

df['agree'] = df.apply(agreement, axis=1)

df[['id_rel','agree']]

                                                       id_rel  agree
_unit_id
1293280368                                              5 5 5    100
1293280369                                              9 9 9    100
1293280370                                              9 9 9    100
1293280371                                              2 2 2    100
1293280372                                              5 5 5    100
1293280373                                           -1 -1 -1    100
1293280374                                           -1 -1 -1    100
1293280375                                        2,3 2,3 2,3    100
1293280376                                        -1 -1 22,23     66
1293280377                                     21 21 21,23,24     66
1293280378                               28,30,31,32,33 -1 -1     66
1293280379                                           -1 -1 -1    100
1293280380                      -1 28,30,31,32,33,34 31,32,33     33
1293280381                                           36 36 36    100
1293280382                                           -1 -1 -1    100
1293280383                                      -1 -1 9,10,11     66
1293280384                                     -1 12,13,14 -1     66
1293280385                                           -1 -1 -1    100
1293280386                                           -1 -1 -1    100
1293280387                                              5 5 5    100
1293280388                                           -1 13 14     33
1293280389                                           -1 -1 -1    100
1293280390                                     -1 21,22,23 -1     66
1293280391                                        -1 -1 39,40     66
1293280392                                           17 17 17    100
1293280393                            21,23,24 -1 21,22,23,24     33
1293280394                                           -1 -1 -1    100
1293280395                                  -1 21,22,23,24 -1     66
1293280396                                           -1 -1 40     66
1293280397                                        -1 39,40 -1     66
...                                                       ...    ...
1293280607                                           -1 -1 17     66
1293280608                                              2 2 2    100
1293280609                                             3 -1 3     66
1293280610                                        2,3 2,3 2,3    100
1293280611                                           -1 25 -1     66
1293280612                                           26 26 26    100
1293280613                                           24 24 24    100
1293316340  2,3 2,3 2,3 2,3 2,3 2,3 2,3 2 -1 2,3 2,3 2,3 2...    100
1293344109  32 32 -1 32 32 -1 32 32 32 32 32 -1 32 32 32 3...     66
1293362163  -1 -1 29 28,29 -1 28,29 -1 28,29 -1 -1 28,29 -...     66
1293365847  3,4 3,4 3,4 3,4 3,4 3,4 3,4 3,4 3,4 -1 3,4 3,4...    100
1293366225  19 -1 -1 -1 -1 19 -1 -1 19 -1 18 19 -1 19 -1 1...     66
1293366955  13 13 13 13 13 13 13 13 13 13,14 13,14 13 13 1...    100
1293368517    25 25 -1 -1 -1 25 -1 25 -1 -1 25 25 25 25 25 25     66
1293368964  12,13 12,13 12,13 12,13 12,13 12,13 13 12,13 1...    100
1293369764  -1 23 -1 22,23 -1 22,23 22,23 23 -1 22,23 23 -...     66
1293371180                      8 8 8 -1 8 -1 -1 -1 8 8 8 8 8    100
1299717089                                  5 5 5 5 5 5 5 5 5    100
1299717218                   -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1    100
1299717277                            9 9 9 9 9 9 9 9 9 9 9 9    100
1299717386                   -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 36    100
1299717453                              6 6 6 6 6 6 6 6 6 6 6    100
1299717891                      -1 -1 -1 -1 -1 -1 -1 -1 -1 -1    100
1299718085                         -1 -1 -1 -1 -1 -1 -1 -1 -1    100
1299718509          -1 -1 -1 28,29 -1 28,29 -1 -1 -1 28,29 -1    100
1299718652                            5 5 5 5 5 5 5 5 5 5 5 5    100
1299718700                -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1    100
1299720263                -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1    100
1299720671                          -1 -1 -1 -1 -1 -1 -1 8 -1    100
1299720946                     -1 9 -1 -1 -1 9 -1 -1 -1 -1 -1     66

[266 rows x 2 columns]

In [47]:
df100 = df[df['agree'] == 100]
df100.to_csv('agree100.csv')

print(df100.shape)

df66 = df[df['agree'] == 66]
df66.to_csv('agree66.csv')

print(df66.shape)

df33 = df[df['agree'] == 33]
df33.to_csv('agree33.csv')

print(df33.shape)

(184, 17)
(75, 17)
(7, 17)