In [32]:
import pandas as pd
import numpy as np

df = pd.read_csv('agree100.csv',index_col='_unit_id')
df[['id_rel','agree']]

,_golden,_unit_state,_trusted_judgments,_last_judgment_at,id_rel,sentena_sem_relao,sentena_sem_relao:confidence,txt_rel,html,id_ent1,id_ent2,id_rel_gold,id_sent,id_txt,sentena_sem_relao_gold,txt_rel_gold,agree
_unit_id,,,,,,,,,,,,,,,,,
1293280368,False,finalized,3,7/5/2017 21:33:23,5 5 5,False,1.0,de de de,<span data-id='0'>A</span> <span data-id='1'>e...,7,3,NaN,S8,CIENCIA_2002_22010,NaN,,100
1293280372,False,finalized,3,7/5/2017 20:24:52,5 5 5,False,1.0,em em em,<span data-id='0'class='entity'>Jennifer_Leona...,4,6,NaN,S13,CIENCIA_2002_22010,NaN,,100

In [37]:
with open("/home/pucrspln/summit2csv/Summ-it++ Corpus and csv conversions/Summ-it++v3.txt", "r", encoding = "utf8") as summit, open("Summ-it++v3_relation_gold.txt", "w") as saida:

    for line in summit:
            
        if line.find("#begin") >= 0:
            columns = line.split('/')
            idText = columns[7]
        
        columns = line.split('\t')
        
        if len(columns) >= 6:
            idSent = columns[0]
            idToken = columns[1]
            relations = df.loc[(df['id_txt'] == idText) & (df['id_sent'] == idSent) & ((df['id_ent1'] == idToken) | (df['id_ent2'] == idToken))]
            
            

        #if line == "\n":
            
        
        #line = '\t'.join(vector)

NameError: name 'palavras' is not defined