In [2]:
import pandas as pd
import numpy as np

array100 = []
array66 = []

df = pd.read_csv('agree100.csv',index_col='_unit_id')
df

,_golden,_unit_state,_trusted_judgments,_last_judgment_at,id_rel,sentena_sem_relao,sentena_sem_relao:confidence,txt_rel,html,id_ent1,id_ent2,id_rel_gold,id_sent,id_txt,sentena_sem_relao_gold,txt_rel_gold,agree
_unit_id,,,,,,,,,,,,,,,,,
1293280368,False,finalized,3,7/5/2017 21:33:23,5 5 5,False,1.0000,de de de,<span data-id='0'>A</span> <span data-id='1'>e...,7,3,NaN,S8,CIENCIA_2002_22010,NaN,,100
1293280369,False,finalized,3,7/5/2017 21:42:34,9 9 9,False,1.0000,de de de,<span data-id='0'>A</span> <span data-id='1'>e...,7,10,NaN,S8,CIENCIA_2002_22010,NaN,,100
1293280370,False,golden,3,7/5/2017 20:22:38,9 9 9,False,1.0000,de de de,<span data-id='0'>A</span> <span data-id='1'>e...,7,12,9,S8,CIENCIA_2002_22010,False,de,100
1293280371,False,finalized,3,7/6/2017 04:00:34,2 2 2,False,1.0000,de de de,<span data-id='0'class='per'>Jennifer_Leonard<...,4,0,NaN,S13,CIENCIA_2002_22010,NaN,,100
1293280372,False,finalized,3,7/5/2017 20:24:52,5 5 5,False,1.0000,em em em,<span data-id='0'class='entity'>Jennifer_Leona...,4,6,NaN,S13,CIENCIA_2002_22010,NaN,,100
1293280373,False,finalized,3,7/5/2017 20:24:09,-1 -1 -1,True,1.0000,Sentença sem relação Sentença sem relação Sent...,<span data-id='0'class='entity'>Jennifer_Leona...,4,14,NaN,S13,CIENCIA_2002_22010,NaN,,100
1293280374,False,finalized,3,7/6/2017 04:22:40,-1 -1 -1,True,1.0000,Sentença sem relação Sentença sem relação Sent...,<span data-id='0'class='entity'>Jennifer_Leona...,4,18,NaN,S13,CIENCIA_2002_22010,NaN,,100
1293280375,False,finalized,3,7/5/2017 20:22:38,"2,3 2,3 2,3",False,1.0000,paleontólogo de paleontólogo de paleontólogo de,<span data-id='0'class='per'>Marcelo_Tejedor</...,5,0,NaN,S2,CIENCIA_2005_28756,NaN,,100
1293280379,False,finalized,3,7/5/2017 20:24:52,-1 -1 -1,True,1.0000,Sentença sem relação Sentença sem relação Sent...,"<span data-id='0'>""</span> <span data-id='1'>E...",25,37,NaN,S18,CIENCIA_2000_17113,NaN,,100
1293280381,False,finalized,3,7/6/2017 04:22:40,36 36 36,False,1.0000,", , ,","<span data-id='0'>""</span> <span data-id='1'>E...",35,37,NaN,S18,CIENCIA_2000_17113,NaN,,100
1293280382,False,finalized,3,7/6/2017 04:02:00,-1 -1 -1,True,1.0000,Sentença sem relação Sentença sem relação Sent...,<span data-id='0'>Depois</span> <span data-id=...,7,22,NaN,S0,CIENCIA_2003_6457,NaN,,100
1293280385,False,finalized,3,7/5/2017 20:24:09,-1 -1 -1,True,1.0000,Sentença sem relação Sentença sem relação Sent...,<span data-id='0'>O</span> <span data-id='1'>e...,11,20,NaN,S3,CIENCIA_2003_6457,NaN,,100
1293280386,False,finalized,3,7/6/2017 03:58:54,-1 -1 -1,True,1.0000,Sentença sem relação Sentença sem relação Sent...,<span data-id='0'>Mas</span> <span data-id='1'...,7,10,NaN,S9,CIENCIA_2003_6457,NaN,,100
1293280387,False,finalized,3,7/5/2017 20:24:52,5 5 5,False,1.0000,em em em,<span data-id='0'>Cientistas</span> <span data...,3,7,NaN,S0,CIENCIA_2001_19858,NaN,,100
1293280389,False,finalized,3,7/5/2017 20:24:09,-1 -1 -1,True,1.0000,Sentença sem relação Sentença sem relação Sent...,<span data-id='0'>Um</span> <span data-id='1'>...,12,18,NaN,S0,CIENCIA_2004_6488,NaN,,100
1293280392,False,finalized,3,7/6/2017 09:24:19,17 17 17,False,1.0000,( ( (,<span data-id='0'>Um</span> <span data-id='1'>...,16,18,NaN,S0,CIENCIA_2004_6488,NaN,,100
1293280394,False,finalized,3,7/5/2017 20:22:38,-1 -1 -1,True,1.0000,Sentença sem relação Sentença sem relação Sent...,<span data-id='0'>Um</span> <span data-id='1'>...,16,42-45,NaN,S0,CIENCIA_2004_6488,NaN,,100
1293280398,False,finalized,3,7/5/2017 20:23:19,6 6 6,False,1.0000,( ( (,<span data-id='0'>Primeiro</span> <span data-i...,5,7,NaN,S2,CIENCIA_2004_6488,NaN,,100
1293280400,False,finalized,3,7/5/2017 20:24:52,8 8 8,False,1.0000,( ( (,<span data-id='0'>A</span> <span data-id='1'>i...,9-11,6-7,NaN,S1,CIENCIA_2003_24219,NaN,,100
1293280401,False,finalized,3,7/6/2017 09:24:19,-1 -1 -1,True,1.0000,Sentença sem relação Sentença sem relação Sent...,<span data-id='0'>A</span> <span data-id='1'>i...,9-11,26,NaN,S1,CIENCIA_2003_24219,NaN,,100
1293280404,False,finalized,3,7/5/2017 20:23:19,-1 -1 -1,True,1.0000,Sentença sem relação Sentença sem relação Sent...,<span data-id='0'>A</span> <span data-id='1'>i...,31,6-7,NaN,S1,CIENCIA_2003_24219,NaN,,100
1293280405,False,finalized,3,7/5/2017 21:42:34,-1 -1 -1,True,1.0000,Sentença sem relação Sentença sem relação Sent...,<span data-id='0'>A</span> <span data-id='1'>i...,31,26,NaN,S1,CIENCIA_2003_24219,NaN,,100
1293280406,False,finalized,3,7/6/2017 04:00:34,32 32 32,False,1.0000,( ( (,<span data-id='0'>A</span> <span data-id='1'>i...,31,33,NaN,S1,CIENCIA_2003_24219,NaN,,100
1293280409,False,finalized,3,7/6/2017 06:04:27,5 5 5,False,1.0000,de de de,<span data-id='0'class='per'>Francelino_Grando...,7,0,NaN,S4,CIENCIA_2003_24219,NaN,,100
1293280410,False,finalized,3,7/6/2017 04:02:00,5 5 5,False,1.0000,de de de,<span data-id='0'class='entity'>Francelino_Gra...,7,2-4,NaN,S4,CIENCIA_2003_24219,NaN,,100
1293280411,False,finalized,3,7/5/2017 20:23:19,8 8 8,False,1.0000,( ( (,<span data-id='0'class='entity'>Francelino_Gra...,7,9,NaN,S4,CIENCIA_2003_24219,NaN,,100
1293280414,False,finalized,3,7/5/2017 20:23:19,7 7 7,False,1.0000,de de de,<span data-id='0'>O</span> <span data-id='1'>p...,6,8,NaN,S15,CIENCIA_2003_24219,NaN,,100
1293280415,False,finalized,3,7/5/2017 21:33:23,-1 -1 -1,True,1.0000,Sentença sem relação Sentença sem relação Sent...,<span data-id='0'>Ainda</span> <span data-id='...,10,6,NaN,S17,CIENCIA_2003_24219,NaN,,100
1293280417,False,finalized,3,7/5/2017 20:24:09,-1 -1 -1,True,1.0000,Sentença sem relação Sentença sem relação Sent...,<span data-id='0'>Ainda</span> <span data-id='...,10,20,NaN,S17,CIENCIA_2003_24219,NaN,,100
1293280419,False,finalized,3,7/10/2017 23:27:35,-1 -1 -1,True,1.0000,Sentença sem relação Sentença sem relação Sent...,<span data-id='0'>Ainda</span> <span data-id='...,20,8,NaN,S17,CIENCIA_2003_24219,NaN,,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1293280595,False,finalized,3,7/11/2017 02:33:29,-1 -1 -1,True,1.0000,Sentença sem relação Sentença sem relação Sent...,<span data-id='0'>A</span> <span data-id='1'>e...,28,11,NaN,S1,CIENCIA_2004_6494,NaN,,100
1293280596,False,finalized,3,7/10/2017 23:28:53,5 5 5,False,1.0000,em em em,<span data-id='0'>Bioantropólogo</span> <span ...,3,7,NaN,S1,CIENCIA_2004_26415,NaN,,100
1293280597,False,finalized,3,7/11/2017 16:56:27,-1 -1 -1,True,1.0000,Sentença sem relação Sentença sem relação Sent...,"<span data-id='0'>""</span> <span data-id='1'>E...",45,13,NaN,S2,CIENCIA_2004_26415,NaN,,100
1293280598,False,finalized,3,7/10/2017 21:20:02,46 46 46,False,1.0000,( ( (,"<span data-id='0'>""</span> <span data-id='1'>E...",45,47-50,NaN,S2,CIENCIA_2004_26415,NaN,,100
1293280599,False,finalized,3,7/10/2017 21:26:46,-1 -1 -1,True,1.0000,Sentença sem relação Sentença sem relação Sent...,"<span data-id='0'>""</span> <span data-id='1'>E...",47-50,13,NaN,S2,CIENCIA_2004_26415,NaN,,100
1293280601,False,finalized,3,7/10/2017 21:28:55,-1 -1 -1,True,1.0000,Sentença sem relação Sentença sem relação Sent...,<span data-id='0'>O</span> <span data-id='1'cl...,1,36,NaN,S0,CIENCIA_2005_6515,NaN,,100
1293280602,False,finalized,3,7/11/2017 02:40:34,-1 -1 -1,True,1.0000,Sentença sem relação Sentença sem relação Sent...,<span data-id='0'>O</span> <span data-id='1'cl...,3-7,36,NaN,S0,CIENCIA_2005_6515,NaN,,100
1293280604,False,finalized,3,7/10/2017 23:38:03,-1 -1 -1,True,1.0000,Sentença sem relação Sentença sem relação Sent...,<span data-id='0'>O</span> <span data-id='1'>c...,7,16,NaN,S5,CIENCIA_2005_6515,NaN,,100
1293280605,False,finalized,3,7/10/2017 23:39:24,-1 -1 -1,True,1.0000,Sentença sem relação Sentença sem relação Sent...,<span data-id='0'>O</span> <span data-id='1'>c...,7,19,NaN,S5,CIENCIA_2005_6515,NaN,,100
1293280608,False,finalized,3,7/10/2017 23:38:03,2 2 2,False,1.0000,( ( (,<span data-id='0'>A</span> <span data-id='1'cl...,1,3,NaN,S9,CIENCIA_2005_6515,NaN,,100
1293280610,False,finalized,3,7/11/2017 16:56:27,"2,3 2,3 2,3",False,1.0000,diretor-presidente de diretor-presidente de di...,<span data-id='0'class='per'>Clayton_Campanhol...,5,0,NaN,S3,CIENCIA_2004_6480,NaN,,100
1293280612,False,finalized,3,7/10/2017 23:32:39,26 26 26,False,1.0000,de de de,"<span data-id='0'>""</span> <span data-id='1-3'...",28,24,NaN,S8,CIENCIA_2002_22023,NaN,,100
1293280613,False,finalized,3,7/10/2017 23:36:21,24 24 24,False,1.0000,de de de,"<span data-id='0'>""</span> <span data-id='1'>E...",26,22,NaN,S10,CIENCIA_2002_22023,NaN,,100
1293316340,True,golden,21,NaN,"2,3 2,3 2,3 2,3 2,3 2,3 2,3 2 -1 2,3 2,3 2,3 2...",False,0.9574,paleontólogo de paleontólogo de paleontólogo d...,<span data-id='0'class='per'>Marcelo_Tejedor</...,5,0,"2,3",S2,CIENCIA_2005_28756,False,paleontólogo de,100
1293365847,True,golden,20,NaN,"3,4 3,4 3,4 3,4 3,4 3,4 3,4 3,4 3,4 -1 3,4 3,4...",False,0.9557,químico de químico de químico de químico de qu...,<span data-id='0'>Segundo</span> <span data-id...,6,1,"3,4",S4,CIENCIA_2005_28755,False,químico de,100
1293366955,True,golden,22,NaN,"13 13 13 13 13 13 13 13 13 13,14 13,14 13 13 1...",False,1.0000,em em em em em em em em em em os em os em em e...,<span data-id='0'>O</span> <span data-id='1'>t...,11,15,13,S4,CIENCIA_2000_17112,False,em,100
1293368964,True,golden,22,7/6/2017 05:59:46,"12,13 12,13 12,13 12,13 12,13 12,13 13 12,13 1...",False,0.8713,médico de médico de médico de médico de médic...,<span data-id='0'>Essa</span> <span data-id='1...,15,8,"12,13",S1,CIENCIA_2004_26425,False,médico de médico de,100
1293371180,False,golden,13,7/6/2017 09:20:54,8 8 8 -1 8 -1 -1 -1 8 8 8 8 8,False,0.7452,( ( ( Sentença sem relação ( Sentença sem rela...,<span data-id='0'class='entity'>Francelino_Gra...,7,9,8,S4,CIENCIA_2003_24219,False,(,100
1299717089,True,golden,9,NaN,5 5 5 5 5 5 5 5 5,False,1.0000,de de de de de de de de de,<span data-id='0'class='entity'>Francelino_Gra...,7,2-4,5,S4,CIENCIA_2003_24219,False,de,100
1299717218,True,golden,11,NaN,-1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1,True,1.0000,Sentença sem relação Sentença sem relação Sent...,<span data-id='0'class='entity'>Jennifer_Leona...,4,14,-1,S13,CIENCIA_2002_22010,True,Sentença sem relação,100
1299717277,True,golden,12,NaN,9 9 9 9 9 9 9 9 9 9 9 9,False,1.0000,de de de de de de de de de de de de,<span data-id='0'>A</span> <span data-id='1'>e...,7,10,9,S8,CIENCIA_2002_22010,False,de,100
1299717386,True,golden,11,NaN,-1 -1 -1 -1 -1 -1 -1 -1 -1 -1 36,True,0.9104,Sentença sem relação Sentença sem relação Sent...,"<span data-id='0'>""</span> <span data-id='1'>E...",25,37,-1,S18,CIENCIA_2000_17113,True,Sentença sem relação,100
1299717453,True,golden,11,NaN,6 6 6 6 6 6 6 6 6 6 6,False,1.0000,( ( ( ( ( ( ( ( ( ( (,<span data-id='0'>Primeiro</span> <span data-i...,5,7,6,S2,CIENCIA_2004_6488,False,(,100
1299717891,True,golden,10,NaN,-1 -1 -1 -1 -1 -1 -1 -1 -1 -1,True,1.0000,Sentença sem relação Sentença sem relação Sent...,<span data-id='0'>A</span> <span data-id='1'>i...,31,6-7,-1,S1,CIENCIA_2003_24219,True,Sentença sem relação,100
1299718085,True,golden,9,NaN,-1 -1 -1 -1 -1 -1 -1 -1 -1,True,1.0000,Sentença sem relação Sentença sem relação Sent...,<span data-id='0'>Um</span> <span data-id='1'>...,16,42-45,-1,S0,CIENCIA_2004_6488,True,Sentença sem relação,100
1299718509,True,golden,11,NaN,"-1 -1 -1 28,29 -1 28,29 -1 -1 -1 28,29 -1",True,0.7450,Sentença sem relação Sentença sem relação Sent...,<span data-id='0'>A</span> <span data-id='1'>i...,31,26,-1,S1,CIENCIA_2003_24219,True,Sentença sem relação,100
1299718652,True,golden,12,NaN,5 5 5 5 5 5 5 5 5 5 5 5,False,1.0000,em em em em em em em em em em em em,<span data-id='0'class='entity'>Jennifer_Leona...,4,6,5,S13,CIENCIA_2002_22010,False,em,100
1299718700,True,golden,12,NaN,-1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1,True,1.0000,Sentença sem relação Sentença sem relação Sent...,<span data-id='0'class='entity'>Jennifer_Leona...,4,18,-1,S13,CIENCIA_2002_22010,True,Sentença sem relação,100
1299720263,True,golden,12,NaN,-1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1,True,1.0000,Sentença sem relação Sentença sem relação Sent...,<span data-id='0'>Depois</span> <span data-id=...,7,22,-1,S0,CIENCIA_2003_6457,True,Sentença sem relação,100
1299720671,True,golden,9,NaN,-1 -1 -1 -1 -1 -1 -1 8 -1,True,0.8890,Sentença sem relação Sentença sem relação Sent...,<span data-id='0'>Mas</span> <span data-id='1'...,7,10,-1,S9,CIENCIA_2003_6457,True,Sentença sem relação,100

In [1]:
with open("Summ-it++v3.txt", "r", encoding = "utf8") as summit:
    for line in summit:
            
        if line.find("#begin") >= 0:
            columns = line.split('/')
            idText = columns[7]
        
        columns = line.split('\t')
        
        if len(columns) >= 6:
            idSent = columns[0]
            palavras[int(columns[1])] = [columns[2], columns[7], columns[8]]
            if columns[7].find("(ORG") >= 0 or columns[7].find("(PLC") >= 0 or columns[7].find("(PER") >= 0:
                entidades[int(columns[1])] = columns[7]

        if line == "\n":
            if len(entidades) > 1:
                for k1, v1 in entidades.items():
                    if v1.find("ORG") >= 0:
                        for k2, v2 in entidades.items():
                            if k1 != k2:
                                if k2 < k1 and v2.find("ORG") >= 0: 
                                    pass
                                else:
                                    montaTexto(idText, idSent, k1, k2, v1, v2, palavras)
        
        line = '\t'.join(vector)        
        saida.write(line)