In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('f1027749.csv', index_col = ['_unit_id'])
df

,_created_at,_golden,_id,_missed,_started_at,_tainted,_channel,_trust,_worker_id,_country,...,sentena_sem_relao,txt_rel,html,id_ent1,id_ent2,id_rel_gold,id_sent,id_txt,sentena_sem_relao_gold,txt_rel_gold
_unit_id,,,,,,,,,,,,,,,,,,,,,
1293280368,7/5/2017 20:25:29,False,2680111782,NaN,7/5/2017 20:24:54,False,elite,0.9565,41556718,BRA,...,False,de,<span data-id='0'>A</span> <span data-id='1'>e...,7,3,NaN,S8,CIENCIA_2002_22010,NaN,NaN
1293280368,7/5/2017 21:06:11,False,2680203596,NaN,7/5/2017 21:00:21,False,personaly,1.0000,43100253,BRA,...,False,de,<span data-id='0'>A</span> <span data-id='1'>e...,7,3,NaN,S8,CIENCIA_2002_22010,NaN,NaN
1293280368,7/5/2017 21:33:23,False,2680258267,NaN,7/5/2017 21:32:01,False,neodev,0.9000,43063844,BRA,...,False,de,<span data-id='0'>A</span> <span data-id='1'>e...,7,3,NaN,S8,CIENCIA_2002_22010,NaN,NaN
1293280369,7/5/2017 19:36:32,False,2679997828,NaN,7/5/2017 19:35:41,False,elite,1.0000,43151235,BRA,...,False,de,<span data-id='0'>A</span> <span data-id='1'>e...,7,10,NaN,S8,CIENCIA_2002_22010,NaN,NaN
1293280369,7/5/2017 19:42:21,False,2680010759,NaN,7/5/2017 19:41:01,False,clixsense,0.9565,34851483,BRA,...,False,de,<span data-id='0'>A</span> <span data-id='1'>e...,7,10,NaN,S8,CIENCIA_2002_22010,NaN,NaN
1293280369,7/5/2017 21:42:34,False,2680276669,NaN,7/5/2017 21:41:41,False,neodev,0.9000,43063844,BRA,...,False,de,<span data-id='0'>A</span> <span data-id='1'>e...,7,10,NaN,S8,CIENCIA_2002_22010,NaN,NaN
1293280370,7/5/2017 19:37:49,False,2680000750,NaN,7/5/2017 19:36:34,False,elite,1.0000,43151235,BRA,...,False,de,<span data-id='0'>A</span> <span data-id='1'>e...,7,12,9.0,S8,CIENCIA_2002_22010,False,de
1293280370,7/5/2017 19:44:54,False,2680016300,NaN,7/5/2017 19:44:03,False,clixsense,0.9565,34851483,BRA,...,False,de,<span data-id='0'>A</span> <span data-id='1'>e...,7,12,9.0,S8,CIENCIA_2002_22010,False,de
1293280370,7/5/2017 20:22:38,False,2680104369,NaN,7/5/2017 20:22:04,False,elite,0.9565,41556718,BRA,...,False,de,<span data-id='0'>A</span> <span data-id='1'>e...,7,12,9.0,S8,CIENCIA_2002_22010,False,de
1293280371,7/5/2017 21:16:13,False,2680224208,NaN,7/5/2017 21:07:40,False,personaly,1.0000,43100253,BRA,...,False,de,<span data-id='0'class='per'>Jennifer_Leonard<...,4,0,NaN,S13,CIENCIA_2002_22010,NaN,NaN
1293280371,7/5/2017 21:45:32,False,2680282885,NaN,7/5/2017 21:42:35,False,neodev,0.9000,43063844,BRA,...,False,de,<span data-id='0'class='per'>Jennifer_Leonard<...,4,0,NaN,S13,CIENCIA_2002_22010,NaN,NaN
1293280371,7/6/2017 04:00:34,False,2680866270,NaN,7/6/2017 03:58:56,False,neodev,0.9565,29456594,BRA,...,False,de,<span data-id='0'class='per'>Jennifer_Leonard<...,4,0,NaN,S13,CIENCIA_2002_22010,NaN,NaN
1293280372,7/5/2017 19:40:56,False,2680007649,NaN,7/5/2017 19:40:17,False,elite,1.0000,43151235,BRA,...,False,em,<span data-id='0'class='entity'>Jennifer_Leona...,4,6,NaN,S13,CIENCIA_2002_22010,NaN,NaN
1293280372,7/5/2017 19:47:08,False,2680021770,NaN,7/5/2017 19:46:34,False,clixsense,0.9565,34851483,BRA,...,False,em,<span data-id='0'class='entity'>Jennifer_Leona...,4,6,NaN,S13,CIENCIA_2002_22010,NaN,NaN
1293280372,7/5/2017 20:24:52,False,2680110022,NaN,7/5/2017 20:24:11,False,elite,0.9565,41556718,BRA,...,False,em,<span data-id='0'class='entity'>Jennifer_Leona...,4,6,NaN,S13,CIENCIA_2002_22010,NaN,NaN
1293280373,7/5/2017 19:40:15,False,2680006066,NaN,7/5/2017 19:39:06,False,elite,1.0000,43151235,BRA,...,True,Sentença sem relação,<span data-id='0'class='entity'>Jennifer_Leona...,4,14,NaN,S13,CIENCIA_2002_22010,NaN,NaN
1293280373,7/5/2017 19:46:28,False,2680020263,NaN,7/5/2017 19:45:47,False,clixsense,0.9565,34851483,BRA,...,True,Sentença sem relação,<span data-id='0'class='entity'>Jennifer_Leona...,4,14,NaN,S13,CIENCIA_2002_22010,NaN,NaN
1293280373,7/5/2017 20:24:09,False,2680108270,NaN,7/5/2017 20:23:23,False,elite,0.9565,41556718,BRA,...,True,Sentença sem relação,<span data-id='0'class='entity'>Jennifer_Leona...,4,14,NaN,S13,CIENCIA_2002_22010,NaN,NaN
1293280374,7/5/2017 21:18:39,False,2680229290,NaN,7/5/2017 21:17:29,False,personaly,1.0000,43100253,BRA,...,True,Sentença sem relação,<span data-id='0'class='entity'>Jennifer_Leona...,4,18,NaN,S13,CIENCIA_2002_22010,NaN,NaN
1293280374,7/6/2017 04:03:00,False,2680869100,NaN,7/6/2017 04:02:02,False,neodev,0.9565,29456594,BRA,...,True,Sentença sem relação,<span data-id='0'class='entity'>Jennifer_Leona...,4,18,NaN,S13,CIENCIA_2002_22010,NaN,NaN
1293280374,7/6/2017 04:22:40,False,2680890897,NaN,7/6/2017 04:21:01,False,elite,0.9565,42454759,BRA,...,True,Sentença sem relação,<span data-id='0'class='entity'>Jennifer_Leona...,4,18,NaN,S13,CIENCIA_2002_22010,NaN,NaN
1293280375,7/5/2017 19:37:49,False,2680000741,NaN,7/5/2017 19:36:34,False,elite,1.0000,43151235,BRA,...,False,paleontólogo de,<span data-id='0'class='per'>Marcelo_Tejedor</...,5,0,NaN,S2,CIENCIA_2005_28756,NaN,NaN
1293280375,7/5/2017 19:44:54,False,2680016311,NaN,7/5/2017 19:44:03,False,clixsense,0.9565,34851483,BRA,...,False,paleontólogo de,<span data-id='0'class='per'>Marcelo_Tejedor</...,5,0,NaN,S2,CIENCIA_2005_28756,NaN,NaN
1293280375,7/5/2017 20:22:38,False,2680104364,NaN,7/5/2017 20:22:04,False,elite,0.9565,41556718,BRA,...,False,paleontólogo de,<span data-id='0'class='per'>Marcelo_Tejedor</...,5,0,NaN,S2,CIENCIA_2005_28756,NaN,NaN
1293280376,7/5/2017 21:16:13,False,2680224209,NaN,7/5/2017 21:07:40,False,personaly,1.0000,43100253,BRA,...,True,Sentença sem relação,<span data-id='0'>Os</span> <span data-id='1'>...,25,18,NaN,S2,CIENCIA_2003_6472,NaN,NaN
1293280376,7/5/2017 21:45:32,False,2680282884,NaN,7/5/2017 21:42:35,False,neodev,0.9000,43063844,BRA,...,True,Sentença sem relação,<span data-id='0'>Os</span> <span data-id='1'>...,25,18,NaN,S2,CIENCIA_2003_6472,NaN,NaN
1293280376,7/6/2017 04:00:34,False,2680866293,NaN,7/6/2017 03:58:56,False,neodev,0.9565,29456594,BRA,...,False,noticiados por,<span data-id='0'>Os</span> <span data-id='1'>...,25,18,NaN,S2,CIENCIA_2003_6472,NaN,NaN
1293280377,7/5/2017 21:18:39,False,2680229284,NaN,7/5/2017 21:17:29,False,personaly,1.0000,43100253,BRA,...,False,de,"<span data-id='0'>""</span> <span data-id='1'>E...",25,19,NaN,S18,CIENCIA_2000_17113,NaN,NaN
1293280377,7/6/2017 04:03:00,False,2680869104,NaN,7/6/2017 04:02:02,False,neodev,0.9565,29456594,BRA,...,False,de,"<span data-id='0'>""</span> <span data-id='1'>E...",25,19,NaN,S18,CIENCIA_2000_17113,NaN,NaN
1293280377,7/6/2017 04:22:40,False,2680890902,NaN,7/6/2017 04:21:01,False,elite,0.9565,42454759,BRA,...,False,de empresa farmacêutica,"<span data-id='0'>""</span> <span data-id='1'>E...",25,19,NaN,S18,CIENCIA_2000_17113,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1293280604,7/10/2017 21:57:14,False,2691269570,NaN,7/10/2017 21:56:22,False,neodev,0.8947,43683735,BRA,...,True,Sentença sem relação,<span data-id='0'>O</span> <span data-id='1'>c...,7,16,NaN,S5,CIENCIA_2005_6515,NaN,NaN
1293280604,7/10/2017 23:16:02,False,2691419997,NaN,7/10/2017 23:14:54,False,neodev,0.9565,29456594,BRA,...,True,Sentença sem relação,<span data-id='0'>O</span> <span data-id='1'>c...,7,16,NaN,S5,CIENCIA_2005_6515,NaN,NaN
1293280604,7/10/2017 23:38:03,False,2691458485,NaN,7/10/2017 23:36:23,False,elite,0.8947,41955229,BRA,...,True,Sentença sem relação,<span data-id='0'>O</span> <span data-id='1'>c...,7,16,NaN,S5,CIENCIA_2005_6515,NaN,NaN
1293280605,7/10/2017 21:58:05,False,2691271688,NaN,7/10/2017 21:57:16,False,neodev,0.8947,43683735,BRA,...,True,Sentença sem relação,<span data-id='0'>O</span> <span data-id='1'>c...,7,19,NaN,S5,CIENCIA_2005_6515,NaN,NaN
1293280605,7/10/2017 23:35:58,False,2691455029,NaN,7/10/2017 23:23:56,False,neodev,0.9565,29456594,BRA,...,True,Sentença sem relação,<span data-id='0'>O</span> <span data-id='1'>c...,7,19,NaN,S5,CIENCIA_2005_6515,NaN,NaN
1293280605,7/10/2017 23:39:24,False,2691461142,NaN,7/10/2017 23:38:16,False,elite,0.8947,41955229,BRA,...,True,Sentença sem relação,<span data-id='0'>O</span> <span data-id='1'>c...,7,19,NaN,S5,CIENCIA_2005_6515,NaN,NaN
1293280606,7/10/2017 21:56:19,False,2691267172,NaN,7/10/2017 21:55:09,False,neodev,0.8947,43683735,BRA,...,False,recebeu estudo de,<span data-id='0'>O</span> <span data-id='1'>c...,16,9,NaN,S5,CIENCIA_2005_6515,NaN,NaN
1293280606,7/10/2017 23:14:52,False,2691417845,NaN,7/10/2017 23:12:03,False,neodev,0.9565,29456594,BRA,...,True,Sentença sem relação,<span data-id='0'>O</span> <span data-id='1'>c...,16,9,NaN,S5,CIENCIA_2005_6515,NaN,NaN
1293280606,7/10/2017 23:36:21,False,2691455582,NaN,7/10/2017 23:34:55,False,elite,0.8947,41955229,BRA,...,True,Sentença sem relação,<span data-id='0'>O</span> <span data-id='1'>c...,16,9,NaN,S5,CIENCIA_2005_6515,NaN,NaN
1293280607,7/10/2017 21:54:31,False,2691261981,NaN,7/10/2017 21:46:40,False,neodev,0.8947,43683735,BRA,...,True,Sentença sem relação,<span data-id='0'>O</span> <span data-id='1'>c...,16,19,NaN,S5,CIENCIA_2005_6515,NaN,NaN
1293280607,7/10/2017 23:04:00,False,2691399290,NaN,7/10/2017 22:58:38,False,neodev,0.9565,29456594,BRA,...,True,Sentença sem relação,<span data-id='0'>O</span> <span data-id='1'>c...,16,19,NaN,S5,CIENCIA_2005_6515,NaN,NaN
1293280607,7/10/2017 23:33:42,False,2691450854,NaN,7/10/2017 23:32:42,False,elite,0.8947,41955229,BRA,...,False,sobre,<span data-id='0'>O</span> <span data-id='1'>c...,16,19,NaN,S5,CIENCIA_2005_6515,NaN,NaN
1293280608,7/10/2017 21:57:14,False,2691269582,NaN,7/10/2017 21:56:22,False,neodev,0.8947,43683735,BRA,...,False,(,<span data-id='0'>A</span> <span data-id='1'cl...,1,3,NaN,S9,CIENCIA_2005_6515,NaN,NaN
1293280608,7/10/2017 23:16:02,False,2691419995,NaN,7/10/2017 23:14:54,False,neodev,0.9565,29456594,BRA,...,False,(,<span data-id='0'>A</span> <span data-id='1'cl...,1,3,NaN,S9,CIENCIA_2005_6515,NaN,NaN
1293280608,7/10/2017 23:38:03,False,2691458478,NaN,7/10/2017 23:36:23,False,elite,0.8947,41955229,BRA,...,False,(,<span data-id='0'>A</span> <span data-id='1'cl...,1,3,NaN,S9,CIENCIA_2005_6515,NaN,NaN
1293280609,7/11/2017 02:49:07,False,2691824636,NaN,7/11/2017 02:46:39,False,elite,0.9565,42454759,BRA,...,False,(,<span data-id='0'>O</span> <span data-id='1-2'...,4,1-2,NaN,S0,CIENCIA_2004_6480,NaN,NaN
1293280609,7/11/2017 03:42:25,False,2691934224,NaN,7/11/2017 03:42:03,False,elite,0.8667,38836131,BRA,...,True,Sentença sem relação,<span data-id='0'>O</span> <span data-id='1-2'...,4,1-2,NaN,S0,CIENCIA_2004_6480,NaN,NaN
1293280609,7/11/2017 12:13:09,False,2692793150,NaN,7/11/2017 11:52:57,False,elite,0.9333,43537034,BRA,...,False,(,<span data-id='0'>O</span> <span data-id='1-2'...,4,1-2,NaN,S0,CIENCIA_2004_6480,NaN,NaN
1293280610,7/11/2017 03:43:09,False,2691935804,NaN,7/11/2017 03:42:53,False,elite,0.8667,38836131,BRA,...,False,diretor-presidente de,<span data-id='0'class='per'>Clayton_Campanhol...,5,0,NaN,S3,CIENCIA_2004_6480,NaN,NaN
1293280610,7/11/2017 12:26:38,False,2692814059,NaN,7/11/2017 12:25:08,False,elite,0.9333,43537034,BRA,...,False,diretor-presidente de,<span data-id='0'class='per'>Clayton_Campanhol...,5,0,NaN,S3,CIENCIA_2004_6480,NaN,NaN
1293280610,7/11/2017 16:56:27,False,2693505303,NaN,7/11/2017 16:53:46,False,neodev,0.8889,42868167,BRA,...,False,diretor-presidente de,<span data-id='0'class='per'>Clayton_Campanhol...,5,0,NaN,S3,CIENCIA_2004_6480,NaN,NaN
1293280611,7/11/2017 03:43:28,False,2691936417,NaN,7/11/2017 03:43:12,False,elite,0.8667,38836131,BRA,...,True,Sentença sem relação,<span data-id='0'>Agora</span> <span data-id='...,24,26,NaN,S8,CIENCIA_2004_6480,NaN,NaN
1293280611,7/11/2017 13:34:22,False,2693003465,NaN,7/11/2017 13:33:08,False,elite,0.9333,43537034,BRA,...,False,(,<span data-id='0'>Agora</span> <span data-id='...,24,26,NaN,S8,CIENCIA_2004_6480,NaN,NaN
1293280611,7/11/2017 17:10:32,False,2693540934,NaN,7/11/2017 17:08:33,False,neodev,0.8889,42868167,BRA,...,True,Sentença sem relação,<span data-id='0'>Agora</span> <span data-id='...,24,26,NaN,S8,CIENCIA_2004_6480,NaN,NaN
1293280612,7/10/2017 21:46:04,False,2691236599,NaN,7/10/2017 21:44:39,False,neodev,0.8947,43683735,BRA,...,False,de,"<span data-id='0'>""</span> <span data-id='1-3'...",28,24,NaN,S8,CIENCIA_2002_22023,NaN,NaN
1293280612,7/10/2017 22:58:36,False,2691390112,NaN,7/10/2017 22:57:02,False,neodev,0.9565,29456594,BRA,...,False,de,"<span data-id='0'>""</span> <span data-id='1-3'...",28,24,NaN,S8,CIENCIA_2002_22023,NaN,NaN
1293280612,7/10/2017 23:32:39,False,2691448976,NaN,7/10/2017 23:30:58,False,elite,0.8947,41955229,BRA,...,False,de,"<span data-id='0'>""</span> <span data-id='1-3'...",28,24,NaN,S8,CIENCIA_2002_22023,NaN,NaN
1293280613,7/10/2017 21:56:19,False,2691267175,NaN,7/10/2017 21:55:09,False,neodev,0.8947,43683735,BRA,...,False,de,"<span data-id='0'>""</span> <span data-id='1'>E...",26,22,NaN,S10,CIENCIA_2002_22023,NaN,NaN
1293280613,7/10/2017 23:14:52,False,2691417841,NaN,7/10/2017 23:12:03,False,neodev,0.9565,29456594,BRA,...,False,de,"<span data-id='0'>""</span> <span data-id='1'>E...",26,22,NaN,S10,CIENCIA_2002_22023,NaN,NaN
1293280613,7/10/2017 23:36:21,False,2691455577,NaN,7/10/2017 23:34:55,False,elite,0.8947,41955229,BRA,...,False,de,"<span data-id='0'>""</span> <span data-id='1'>E...",26,22,NaN,S10,CIENCIA_2002_22023,NaN,NaN

In [5]:
def annotations(x):
    #print(x.name)
    
    if not x.name in dictAnnotations:
        
        #print(x['_golden'])
        dictAnnotations[x.name] = []
    
    dictAnnotations[x.name].append(x['_worker_id'])
    
    
def biggest(x):
    
    biggest = 0
    
    for key in x:
        
        if x[key] >= biggest:
            
            biggest = x[key]
            theBiggest = key
    
    return theBiggest 
    
    
def translations(x):
    
    kappa = [0, 0]
    
    for y in x:
        
        if y != '-1':
            
            kappa[0] += 1
        
        else:
            
            kappa[1] += 1
    
    return kappa
    

dictAnnotations = {}
df.apply(annotations,axis = 1)

#print(dictAnnotations)

dictFrequency = {}

for key in dictAnnotations:
    
    aux = tuple(dictAnnotations[key])
    
    if not aux in dictFrequency:
        
        dictFrequency[aux] = 1
        
    else:
        
        dictFrequency[aux] += 1
        
#print(dictFrequency)

theBiggest = str(biggest(dictFrequency)).replace("(", "").replace(")", "").split(",")
one = theBiggest[0]
two = theBiggest[1]
three = theBiggest[2]

#print(theBiggest)

idSentences = []
notIdSentences = []

for key in dictAnnotations:
    
    if str(dictAnnotations[key]).find(one) < 0 or str(dictAnnotations[key]).find(two) < 0 or str(dictAnnotations[key]).find(three) < 0:
        
        notIdSentences.append(key)
    
    else:
        
        idSentences.append(key)
        
#print(idSentences)

dff = df.drop(notIdSentences)
dff = dff.reset_index()
#dff

matrix = []

for x in idSentences:
    
    aux = dff.loc[dff['_unit_id'] == x]
    aux['id_rel']
    matrix.append(aux['id_rel'].tolist())
    
#print(matrix)

kappa = []
    
for x in matrix:

    kappa.append(translations(x))
    
print(kappa)

from statsmodels.stats.inter_rater import fleiss_kappa

fleiss_kappa(kappa)

[[3, 0], [0, 3], [3, 0], [3, 0], [0, 3], [3, 0], [3, 0], [0, 3], [0, 3], [3, 0], [3, 0], [2, 1], [3, 0], [0, 3], [0, 3], [3, 0], [3, 0], [3, 0], [2, 1], [3, 0], [3, 0], [0, 3], [3, 0], [3, 0], [3, 0], [0, 3], [3, 0], [0, 3], [3, 0], [3, 0], [3, 0], [3, 0], [0, 3], [1, 2], [1, 2], [3, 0], [2, 1], [3, 0], [3, 0], [0, 3], [3, 0], [1, 2], [1, 2], [3, 0], [0, 3], [0, 3], [0, 3], [0, 3], [0, 3], [3, 0], [0, 3], [0, 3]]

0.81538461538461515